.cardContainer 
{
  width:400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: opacity 0.4s 0.2s;
  transform: translate(-50%,-50%);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;

  /*depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card 
{
  width: 100%;
  height: 200px;
  cursor: pointer;
  
  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 4em;
  position: absolute;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}
.card .back {
  width: 100%;
  font-size: 16px;
  line-height: 25px;
}

.card .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

/*Colors for front and back applied here*/
.cardContainer .card .front {
  background: #00cec9;
}

.cardContainer .card .back {
  background: #ff7675;
}
.content {
  padding: 4%;
  font-weight: 100;
  text-align: left;
  font-weight: bold;
}

@media screen and (orientation : portrait) {
  .cardContainer{
    display: none;
  }
  h1.portrait{
    color: #000;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-style: italic;
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }
}

@media screen and (orientation : Landscape){
  h1.portrait{
    display: none;
  }
}